_skbuild

.pydevproject
.project
.settings
*~
.*.sw[po]
.sw[po]
*.dat
*.pyc
build
*.prof
doc/hedge-notes.pdf
*.vtk
*.silo
*.session
dump.py
*.orig
/Makefile
*.png
tags
*.vtu
*.pvtu
*.pvd
doc/user-reference
doc/dev-reference
*.poly
*.node
*.bak
*.pdf
*.tif
*.so
*.pyd
*.mpeg
*-journal
visitlog.py
*.log
.figleaf
dist
*.egg*
MANIFEST
*.patch
*.LOCAL.[0-9]*
*.REMOTE.[0-9]*
*.BASE.[0-9]*
tmp
temp*
setuptools.pth
distribute-*.tar.gz
core
*.sess
_build
__pycache__
*.o
.ipynb_checkpoints
cscope.*

# needed by jenkins env
.env
virtualenv-[0-9]*
pytest.xml
setuptools*tar.gz
build-and-test-py-project.sh

cffi_build.py

.cache
.pytest_cache
.idea

wheelhouse

memray-*.bin
memray-*.html

.pylintrc.yml
.run-pylint.py

pyopencl/_cl_gen.pyi
