recursive-include pyopencl/cl *.h *.cl

include src/c_wrapper/*.hpp
include src/c_wrapper/*.h
include src/c_wrapper/*.cpp
include src/c_wrapper/mingw-std-threads/mingw.*.h
include src/c_wrapper/mingw-std-threads/README.md
include *.h
include test/*.py
include test/*.h
include examples/*.py
include examples/*.ipynb

include doc/*.rst
include doc/Makefile
include doc/*.py
include doc/conf.py
include doc/_static/*.css
include doc/_templates/*.html

include *.py.in
include configure.py
include Makefile.in
include aksetup_helper.py
include README_SETUP.txt
include README.rst
include LICENSE

recursive-include contrib *.vim *.py README
